[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is source of advonitor site
[access "refs/*"]
	owner = group user/Ganesh Thiru (tganeshg)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ganesh Thiru (tganeshg)
	label-Verified = -1..+1 group user/Ganesh Thiru (tganeshg)
	push = group user/Ganesh Thiru (tganeshg)
	read = group user/Ganesh Thiru (tganeshg)
	rebase = group user/Ganesh Thiru (tganeshg)
	removeReviewer = group user/Ganesh Thiru (tganeshg)
	submit = group user/Ganesh Thiru (tganeshg)
[access "refs/heads/*"]
	create = group user/Ganesh Thiru (tganeshg)
	push = +force group user/Ganesh Thiru (tganeshg)
	pushMerge = group user/Ganesh Thiru (tganeshg)
	read = group user/Ganesh Thiru (tganeshg)
[access "refs/tags/*"]
	push = group user/Ganesh Thiru (tganeshg)
	push = +force group user/Ganesh Thiru (tganeshg)
